.section-starters {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/2s.jpg);
    }
  }
}
.section-startersEn {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/2ens.jpeg);
    }
  }
}

.section-main {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/3s.jpg);
    }
  }
}
.section-mainEn {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/3ens.jpeg);
    }
  }
}

.section-des {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/4s.jpg);
    }
  }
}
.section-desEn {
  &__photo {
    width: 100%;
  }
  // height: 100vh;
  // background-image: url(../img/4.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/4ens.jpeg);
    }
  }
}

.section-beers {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/d1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/d1s.jpg);
    }
  }
}
.section-beersEn {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/d1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/d1ens.jpeg);
    }
  }
}

.section-alcohol {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/d2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/d2s.jpg);
    }
  }
}
.section-alcoholEn {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/d2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/d2ens.jpeg);
    }
  }
}

.section-coctails {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/c2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/c2s.jpg);
    }
  }
}
.section-coctailsEn {
  &__photo {
    width: 100%;
  }
  // height: 115vh;
  // background-image: url(../img/c2.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  & > * {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
      only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      only screen and (min-width: 125em) {
      background-image: url(../img/en/c1ens.jpeg);
    }
  }
}
